/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
.header {
    -fx-font-family: "Helvetica";
    -fx-font-size: 25px;
    -fx-padding: 10 10 10 10;
    -fx-effect: dropshadow(two-pass-box,black,5,.2,0,0);
}

#headerLabel{
    -fx-background-color: 
        linear-gradient(to bottom, #A3FFCE 0%, #92FAC3 44%, #7BF3B3 100% );
}
