.button {
    -fx-font-weight: bold;
}

.root{
  -icons-color: rgb(61,114,144);
}
 
.icons{
    -fx-font-family: FontAwesome;
    -fx-font-size: 16px;
    -fx-effect: innershadow( three-pass-box , derive(-icons-color,-70%) , 0.1em, 0.0 , 0.07em, 0.07em );
    -fx-text-fill: linear-gradient(to bottom, derive(-icons-color,20%) 10%, derive(-icons-color,-40%) 80%);
}
 
.icons:hover{
    -fx-effect: dropshadow( three-pass-box , derive(-icons-color,0%) , 0.01em, 0.0 , 0, 0);
}

#gitinit {
    -fx-font-family: FontAwesome;
    -fx-icon-text: "\uf1d3";
    -fx-font-size: 13;
}
#open{
    -fx-font-family: FontAwesome;
    -fx-icon-text: "\uf07c";
    -fx-font-size: 13;  
}
#setting{
    -fx-font-family: FontAwesome;
    -fx-icon-text: "\uf013";
    -fx-font-size: 13;
}
#gitsync{
    -fx-font-family: FontAwesome;
    -fx-font-size: 13;
}
#gitclone{
   -fx-font-family: FontAwesome;
   -fx-font-size: 13;
}
